@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Budget Manager</title>
</head>
<body>

    <h3>Budget Manager</h3>
    <hr />
    <p>
        @Html.ActionLink("Opret Budget", "Create")
    </p>
</body>
</html>
