@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Budget Manager</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create Button", "Create")
    </p></body>
</html>
